<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" />

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
    <div class="container-fluid main_menu">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="#">weatherinfo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/weather">Weather</a>
                      </li>
                   </ul>
                </div>
                   </nav>
                      
              
              
              
              
            </div>
        </div>
    </div>
    <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="main_content">
                <form class="temp_form">
                    <input type="text" id="cityName" placeholder="enter your city" autocomplete="off">
                    <input type="submit" value="search" id="submitBtn">
                    </form>
            </div>
            <div class="temp_info">
                <div class="top_layer">
                    <p id="day">Tuesday</p>
                    <p id="today_day">13 oct</p>
                </div>
                <div class="main_layer">
                    <p id="city_name">Get Output here</p>
                    <div class="middle_layer data_hide">
                        <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C</p>
                        <p id="temp_status"> <i class="fa fa-cloud" aria-hidden="true"></i></p>
                    </div>
                </div>
                </div>
        </div>
    </div>
  </div>
  <footer>
    <p>created with love by shreya chirania</p>
  </footer>
  <script src="js/main.js"></script>
  <script>
    const getcurrentDay= () =>{
      var s1,s2;
      let months=new Array(12);
      months[0]="Jan";
      months[1]="Feb";
      months[2]="Mar";
      months[3]="Apr";
      months[4]="May";
      months[5]="Jun";
      months[6]="Jul";
      months[7]="Aug";
      months[8]="Sep";
      months[9]="Oct";
      months[10]="Nov";
      months[11]="Dec";

      let weekday=new Array(7);
      weekday[0]="Sunday";
      weekday[1]="Monday";
      weekday[2]="Tuesday";
      weekday[3]="Wednesday";
      weekday[4]="Thursday";
      weekday[5]="Friday";
      weekday[6]="Saturday";

      let currentTime=new Date();
      s1=currentTime.getDate();
      s2=months[currentTime.getMonth()];
      let days= weekday[currentTime.getDay()];
      document.getElementById('day').innerText=days;
      document.getElementById('today_day').innerText=s1+" "+s2;
};
     getcurrentDay();
     </script>
    
</body>
</html>
